.App {
    --background-primary-color: #fff;
    --background-primary-color-rgb: 255, 255, 255;
    --background-primary-color-hover: #f4f3f8;
    --background-secondary-color: #fafafa;
    --background-tertiary-color: #eaeaea;
    --accent-primary-color: #4658e5;
    --accent-primary-color-hover: #7d89e6;
    --accent-primary-color-disabled: #A2ABF2;
    --accent-primary-color-contrast: #efeef6;
    --font-primary-color: #222;
    --form-border-color: #e3e3e3;
}

@media (prefers-color-scheme: dark) {
    .App {
        --background-primary-color: #28282c;
        --background-primary-color-rgb: 40, 40, 44;
        --background-primary-color-hover: #4d4d51;
        --background-secondary-color: #1c1c20;
        --background-tertiary-color: #44444e;
        --accent-primary-color: #4658e5;
        --accent-primary-color-hover: #7d89e6;
        --accent-primary-color-disabled: #232C72;
        --accent-primary-color-contrast: #efeef6;
        --font-primary-color: #efeef6;
        --form-border-color: #44444e;
    }
}

.App {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
    background-color: var(--background-primary-color);
    color: var(--font-primary-color);
}

.App {
    padding: 10px 150px;
}

@media (max-width:800px) {
    .App {
        padding: 10px 10px;
    }
}

h2 {
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 26px;
    color: var(--font-primary-color);
    margin: 15px 0px;
    border-bottom: 2px solid var(--accent-primary-color);
}

h3 {
    font-weight: 450;
    letter-spacing: 0px;
    font-size: 22px;
    color: var(--font-primary-color);
    margin: 15px 0px 5px 0px;
    border-left: 2px solid var(--accent-primary-color);
    padding-left: 5px;
}

select {
    cursor: pointer;
    font-weight: 450;
    letter-spacing: 0px;
    font-size: 22px;
    color: var(--font-primary-color);
    background-color: var(--background-primary-color);
    margin: 15px 0px 5px 0px;
    border: none;
    outline: none;
    border-left: 2px solid var(--accent-primary-color);
    padding-left: 5px;
}

button {
    height: 20px;
    padding: 5px 10px;
    box-sizing: content-box;
    background: var(--accent-primary-color);
    color: var(--accent-primary-color-contrast);
    border-radius: 50px;
    outline: none;
    border: none;
}

button:disabled {
    background: var(--accent-primary-color-disabled);
}

button:enabled:hover {
    background: var(--accent-primary-color-hover);
    cursor: pointer;
}
