.SubscribersContainer {
    display: flex;
    flex-direction: column;
}

.SubscribersTable {
    display: flex;
    flex-direction: column;

    border-width: 2px;
    border-style: solid;
    border-color: var(--form-border-color);
}

.SubscribersTableRow {
    display: flex;
    flex-direction: row;

    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: var(--form-border-color);
}

.SubscribersTableHeader {
    padding: 10px;
    margin: 0px;
    flex: 1px 1 1;
    min-width: 1px;
    overflow: hidden;
}

.SubscribersTableCell {
    padding: 7px;
    margin: 0px;
    flex: 1px 1 1;
    min-width: 1px;
    overflow: hidden;

    background-color: var(--background-secondary-color);
}