.SubscribersContainer {
    display: flex;
    flex-direction: column;
}

.SubscribersTitle {
    display: flex;
    flex-direction: row;
}

.SubscribersTitle > h2 {
    flex: 1 1 auto;
}

.SubscribersTitle > select {
    flex: 0 0 auto;
}

.SubscribersBanner {
    display: flex;
    flex-direction: row;

    padding: 5px;
}

.SubscribersBannerLeft {
    flex: auto 1 1;

    display: flex;
    flex-direction: row;
}

.SubscribersBannerRightFixed {
    flex: auto 0 0;
}